body 
{
    font-family: 'Noto Sans', sans-serif;
    background-color: grey;
}

h1
{
    text-align:center;
}

#topButton
{
    text-align: center;
}

p
{
    text-align: center;
}

.container 
{
    text-align: center;
}

ul 
{
  display: inline-block;
  text-align: left;
}
